# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp*
.pnp.js

# React
build/
dist/
.eslintcache

# Logs and databases
*.log
*.sqlite

# OS
.DS_Store
Thumbs.db

# Project specific
backend/documents/
backend/*.pdf
backend/*.json
backend/*.txt
!backend/requirements.txt
!backend/runtime.txt
!README.md
